*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(background.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.key{
    cursor: pointer;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
    font-size: 2.2rem;
    padding: 1rem 0.5rem;

    width: 6.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    background: rgba(0, 0, 0,0.7);
    text-shadow: 0 0 0.5rem black;
    transition: all .07s ease;
}

.key span{
    font-size: 0.75rem;
    letter-spacing: .1rem;
    color: #ffc600;
}

.active{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

  @media (max-width:1250px){
    #wrapper{
        display: grid;
        grid-template-columns: repeat(3,7rem);
        grid-template-rows: repeat(3,7rem);
        place-content: center;
        place-items: center;
    } 
    .key{
        /* margin: rem; */
        font-size: 2rem;
        padding: 0.8rem 0.4rem;
        width: 5rem;
    }
  }